<h2>Log a payment</h2>

<%= form_for [@person, @payment] do |form| %>
  <p>
    <%= form.label :description %>:<br>
    <%= form.text_field :description %>
  </p>
  <p>
    <%= form.label :amount %>:<br>
    <%= form.text_field :amount %>
  </p>
  <p>
    <%= form.label :timelog %><br>
    <%= form.text_field :timelog %>
  </p>

  <p> <%= form.submit %></p>
<% end %>
